<template>
    <div id="components-layout">
        <a-layout style="background-color: white;"> 
            <a-layout-header>
                <HeaderMain />
            </a-layout-header>
            <div style="height: 76.82vh;">
                <a-row>
                    <a-col :span="10" style="height: 81.8vh; background-color: black; color: white;">
                        Test?
                        Sider OK!
                    </a-col>
                    <a-col :span="14" style="height: 81.8vh; background-color: white; color: black;">
                        Content? OK!
                    </a-col>
                </a-row>
            </div>
            <!-- <a-layout-content>
                
            </a-layout-content> -->


            <a-layout-footer>
                <div style="background-color: blue; height: 60;">
                    test<br/>
                    Test<br/>
                    Test
                </div>
                <FooterMain />
            </a-layout-footer>
        </a-layout>
    </div>
</template>

<script setup>
    import HeaderMain from '../../../components/header.vue'
    import FooterMain from '../../../components/footer.vue'
</script>

<script>
    import Vue from 'vue'
    import VueApexCharts from 'vue3-apexcharts'

    export default {
        data: function() {
        return {
        options: {
            chart: {
            id: 'vuechart-example'
            },
            xaxis: {
            categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998]
            }
        },
        seriesb: [{
            name: 'series-1',
            data: [30, 40, 45, 50, 49, 60, 70, 91]
        },
        {
            name: 'series-2',
            data: [50, 10, 45, 30, 25, 53, 12, 42]
        }],
        seriesl: [{
            name: 'series-1',
            data: [30, 40, 45, 50, 49, 60, 70, 91]
        }],
        seriesd: [44, 55, 41, 17, 15],
        seriesrad: [44],
        optionsranbar: {
            chart: {
                id: 'vuechart-example'
            },
            plotOptions: {
                bar: {
                    horizontal: true,
                }
            },
        },
        seriesranbar: [{
            data: [{
                x: 'TEAM A',
                y: [65, 96]
            },
            {
                x: 'TEAM B',
                y: [55, 78]
            },
            {
                x: 'TEAM C',
                y: [95, 186]
            }]
        }]
        }
    }
    }
    


</script>

<style scoped>
    #components-layout {
        text-align: center;
    }
    #components-layout .ant-layout-header,
    #components-layout .ant-layout-footer {
        position: sticky;
        background: #fafafa;
        z-index: 1;
    }

    #components-layout .ant-layout-header {
        top:0;
    }

    #components-layout .ant-layout-footer {
        bottom: 0;
        margin-top:px;
        padding:0;
        height:81px;   /* Height of the footer */
        background:#6cf;
        color: #fff;
        line-height: 1.5;
    }
    #components-layout .ant-layout-content {
        /* background: rgba(16, 142, 233, 1); */
        /* color: #fff; */
        min-height: 84.5vh;
        padding: 50px;
        padding-top: 10px;
        line-height: 50px;
        z-index: 0;
        
    }
    #components-layout > .ant-layout {
        margin-bottom: 0;
    }
    #components-layout > .ant-layout:last-child {
        margin: 0;
    }
    #kibana-note{
        color: rgba(0,0,0,0.3);
        font-style: italic;
    }
</style>