<template>
    <div>
        <a-card size="small" title="B 1234 ABC" style="text-align: center; height: 230px; width: 285px; z-index: -1;border-radius: 10px 10px 0 0;">
            <template #cover>
                <img style="padding: 20px;" alt="example" 
                src="../../../assets/fleettype-truck.png" />        
            </template>
        </a-card>
        <a-row style="background-color: rgba(0, 24, 113, 0.8); margin: -30px 0 0 0; padding: 0 10px; color: white; z-index: 1; border-radius: 0 0 10px 10px;">
            <a-col :span="8">
                <p style="line-height:3; text-align: left; margin: 0; font-weight: bold; font-size: 10px;">Fleet Type</p>
                <p style="line-height:1; margin-bottom: 5px; font-size: 11px;">Truck</p>    
            </a-col>
            <a-col :span="8">
                <p style="line-height:3; text-align: left; margin: 0; font-weight: bold; font-size: 10px;">Fleet Model</p>
                <p style="line-height:1; margin-bottom: 5px; font-size: 11px;">Hino ABCDE</p>
            </a-col>
            <a-col :span="8">
                <p style="line-height:3; text-align: left; margin: 0; font-weight: bold; font-size: 10px;">Serial Number</p>
                <p style="line-height:1; margin-bottom: 5px; font-size: 11px;">124n123rd12</p>
            </a-col>
            <a-col :span="24">
                <a-button style="font-size: 15px;" type="primary" shape="round" :size="small" block>
                    <router-link to="#">
                        Detail
                    </router-link>
                </a-button>
            </a-col>            
        </a-row>
        
  </div>
</template>

<script setup>
    import { DownloadOutlined } from '@ant-design/icons-vue';


</script>