<template>
    <p id="kibana-note">Maintenance Dashboard - Note: This dashboard will be designed inside ELK Stack - Kibana Dashboard and being presented in iframe format</p>
    <a-row>
        <a-col :span="8">
            <div style="margin: 5px; border: 1px solid rgba(0,0,0,0.2);">
                <apexchart height="200" width="100%" type="bar" :options="options" :series="seriesb" ></apexchart>
                Bar Chart
            </div>
        </a-col>
        <a-col :span="8">
            <div style="margin: 5px; border: 1px solid rgba(0,0,0,0.2);">
                <apexchart height="200" width="100%" type="line" :options="options" :series="seriesl"></apexchart>
                Line Chart
            </div>
        </a-col>
        <a-col :span="8">
            <div style="margin: 5px; border: 1px solid rgba(0,0,0,0.2);">
                <apexchart height="212" width="100%" type="donut" :options="options" :series="seriesd"></apexchart>
                Pie / Donut Chart
            </div>
        </a-col>
    </a-row>       
    <a-row>
        <a-col :span="8">
            <div style="margin: 5px; border: 1px solid rgba(0,0,0,0.2);">
                <apexchart height="200" width="100%" type="area" :options="options" :series="seriesb" ></apexchart>
                Area Chart
            </div>
        </a-col>
        <a-col :span="8">
            <div style="margin: 5px; border: 1px solid rgba(0,0,0,0.2);">
                <apexchart height="237" width="100%" type="radialBar" :options="options" :series="seriesrad"></apexchart>
                Progress Radial Chart
            </div>
        </a-col>
        <a-col :span="8">
            <div style="margin: 5px; border: 1px solid rgba(0,0,0,0.2);">
                <apexchart height="200" width="100%" type="rangeBar" :options="optionsranbar" :series="seriesranbar"></apexchart>
                Range / Gantt Chart
            </div>
        </a-col>
    </a-row>      
</template>

<script>
    // import Vue from 'vue'
    // import VueApexCharts from 'vue3-apexcharts'

    export default {
        data: function() {
        return {
        options: {
            chart: {
            id: 'vuechart-example'
            },
            xaxis: {
            categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998]
            }
        },
        seriesb: [{
            name: 'series-1',
            data: [30, 40, 45, 50, 49, 60, 70, 91]
        },
        {
            name: 'series-2',
            data: [50, 10, 45, 30, 25, 53, 12, 42]
        }],
        seriesl: [{
            name: 'series-1',
            data: [30, 40, 45, 50, 49, 60, 70, 91]
        }],
        seriesd: [44, 55, 41, 17, 15],
        seriesrad: [44],
        optionsranbar: {
            chart: {
                id: 'vuechart-example'
            },
            plotOptions: {
                bar: {
                    horizontal: true,
                }
            },
        },
        seriesranbar: [{
            data: [{
                x: 'TEAM A',
                y: [65, 96]
            },
            {
                x: 'TEAM B',
                y: [55, 78]
            },
            {
                x: 'TEAM C',
                y: [95, 186]
            }]
        }]
        }
    }
    }
    


</script>