<template>
    <a-row type="flex" align="middle">
        <a-col flex="110px">
            <img id="logomain" src="../assets/logochronus.png" />
        </a-col>
        <a-col flex="auto">
            <a-menu mode="horizontal" style="float: left; background: transparent;" > 
                <a-menu-item key="dash"  >
                    <router-link to="/">
                        <FundViewOutlined />
                        Dashboard
                    </router-link>
                </a-menu-item>
                <a-menu-item key="fleet" >
                    <router-link to="/fleet/">
                        <DeploymentUnitOutlined />
                        Fleet
                    </router-link>    
                </a-menu-item>
                <a-menu-item key="report">
                    <router-link to="#">
                        <FileDoneOutlined />
                        Report   
                    </router-link>
                </a-menu-item>
                <a-menu-item key="user">
                    <router-link to="#">
                        <TeamOutlined />
                        User
                    </router-link>
                </a-menu-item>
            </a-menu>
        </a-col>
    </a-row>
</template>
<script setup>
    import { FundViewOutlined, DeploymentUnitOutlined, FileDoneOutlined, TeamOutlined } from '@ant-design/icons-vue';


</script>



}
<style>
    #logomain {
        float: left;
        margin: 0 20px;
        left: 0%;
        height: 60px;
    }
</style>