<template>
  <div id="components-layout">
    <a-layout style="background-color: white;"> 
        <a-layout-header>
            <HeaderMain />
        </a-layout-header>
        <a-layout-header style="height: 50px; background-color: #1890ff; top: 64px;"></a-layout-header>
            
        <a-layout-content>
            <!-- <a-layout-content></a-layout-content>
            <a-layout-footer></a-layout-footer> -->


            <a-row type="flex" style="margin: 0 auto;">
                <a-col style="margin: 5px;">
                    <FleetTruck />
                </a-col>
                <a-col style="margin: 5px;">
                    <FleetAircraft />
                </a-col>
                <a-col style="margin: 5px;">
                    <FleetAircraft />
                </a-col>
                <a-col style="margin: 5px;">
                    <FleetTruck />
                </a-col>
                <a-col style="margin: 5px;">
                    <FleetAircraft />
                </a-col>
                <a-col style="margin: 5px;">
                    <FleetAircraft />
                </a-col>
                <a-col style="margin: 5px;">
                    <FleetTruck />
                </a-col>
            </a-row>
            
            
            
        </a-layout-content>
        
        <a-layout-footer>
            <FooterMain />
        </a-layout-footer>
    </a-layout>
  </div>
</template>

<script setup>
    
    import HeaderMain from '../../components/header.vue'
    import FooterMain from '../../components/footer.vue'
    import FleetAircraft from '../../components/pages/fleet/aircraft.vue'
    import FleetTruck from '../../components/pages/fleet/truck.vue'
    // import SmileOutlined from '@ant-design/icons/SmileOutlined'
    
    // defineComponent ({
    //     SmileOutlined
    // })
</script>

<script>
    import Vue from 'vue'
    // import { defineComponent } from '@vue/runtime-core'
    

</script>

<style scoped>
    .grid {
        background-color: lightblue;
        border: 1px solid black;
    }

    #components-layout {
        text-align: center;
    }
    #components-layout .ant-layout-header,
    #components-layout .ant-layout-footer {
        position:sticky;
        background: #fafafa;
        z-index: 1;
    }

    #components-layout .ant-layout-header {
        top:0;
    }

    #components-layout .ant-layout-footer {
        bottom: 0;
        margin-top:40px;
        padding:0;
        height:21px;   /* Height of the footer */
        background:#6cf;
        color: #fff;
        line-height: 1.5;
    }
    #components-layout .ant-layout-content {
        /* background: rgba(16, 142, 233, 1); */
        /* color: #fff; */
        min-height: 84.5vh;
        padding: 50px;
        padding-top: 10px;
        line-height: 50px;
        z-index: 0;
        
    }
    #components-layout > .ant-layout {
        margin-bottom: 0;
    }
    #components-layout > .ant-layout:last-child {
        margin: 0;
    }
    #kibana-note{
        color: rgba(0,0,0,0.3);
        font-style: italic;
    }
</style>